<div>
  <p>
   The IUPUI University Library is collecting digital images from anyone
   affiliated with the IUPUI-campus (students, staff, faculty) for the
   creation of the digital collection “IUPUI Community: Documenting Life
   During the Pandemic.” This collection aims to document the impact that the
   Coronavirus pandemic has made to your daily lives.
 </p>
</div>

<div class="rvt-box rvt-m-bottom-md">
  <div class="rvt-box__header">
     Images content guidelines
  </div>
  <div class="rvt-box__body">
    <p>What are we looking for?</p>
    <p>
      Photographs or screenshots documenting the following topics:
      <ul>
        <li>Working or attending classes remotely</li>
        <li>Interating with others (practicing social distancing)</li>
        <li>Changes in the environment that surrounds you</li>
      </ul>
    </p>
    <p>
      Images submitted will undergo a review process and will be added to
      the collection if approved. Submitting does not guarantee inclusion.
    </p>
  </div>
</div>

<a href="/covid_photos/new" class="rvt-button rvt-button--primary">Submit Photo</a>
