<div class="rvt-m-top-md rvt-m-bottom-md">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Sit amet commodo nulla
  facilisi nullam vehicula. Senectus et netus et malesuada fames. Sed
  ullamcorper morbi tincidunt ornare massa. Lectus mauris ultrices eros in.
</div>

<a href="/covid_photos/new" class="rvt-button rvt-button--primary">Submit Photo</a>
