<h1 class="rvt-m-top-md">COVID-19 Digital Collection Project Submission Form</h1>

<% if current_user %>
  <%= render 'form', covid_photo: @covid_photo %>
<% else %>
  <div>
    <p>Please authenticate before submitting photo.</p>
    <a href="/users/auth/cas" class="rvt-button rvt-button--primary">IU Login</a>
  </div>
<% end %>
