<h1 class="rvt-m-top-md">COVID-19 Digital Collection Project Submission Form</h1>

<% if current_user %>
  <%= render 'form', covid_photo: @covid_photo %>
<% else %>
  <div>
    <p>Please authenticate before submitting photo.</p>
    <%= link_to "IU Login", user_cas_omniauth_authorize_path, class: "rvt-button rvt-button--primary", method: :post %>
  </div>
<% end %>
