<div class="rvt-m-top-md">
  <h1>Forms for IUPUI University Library</h1>
  <p>Forms available:</p>
  <dl>
    <dt>
      <%= link_to "Covid Photo Collection", covid_photos_path, class: "rvt-button rvt-button--primary" %>
    </dt>
    <dd class="rvt-p-all-md">
      Form for submitting photos taken during the Covid-19 epidemic.
    </dd>
    <dt>
      <%= link_to "Photo Usage Permission", photo_usages_path, class: "rvt-button rvt-button--primary" %>
    </dt>
    <dd class="rvt-p-all-md">
      Form for uploading and allowing Library to use profile photos.
    </dd>
  </dl>
</div>
