
<div>
  <p>
    The library needs your help to update your scholarly profile in Scholia.
  </p>
  <p>
    The IUPUI University Library has been making contributions to Wikidata
    since 2017 in an effort to expand the representation of IUPUI scholars.
    The library formalized this process by developing and implementing the
    Scholarly Profiles as Service (SPaS). This service leverages Wikidata to
    provide global exposure and reach to IUPUI scholars and their research,
    and leans on Scholia, an open-source web-service that feeds from Wikidata,
    to generate the scholarly profiles. With this work, we are increasing the
    visibility of IUPUI-affiliated scholars and their publications in an
    environment that is openly accessible to all.
  </p>
</div>

<div class="rvt-box rvt-m-bottom-md">
  <div class="rvt-box__header">
     How can you help us improve your profile in Scholia?
  </div>
  <div class="rvt-box__body">
    <ul>
      <li>
        Grant the library permission to use your existing image (from your
        school’s/unit’s webpage) or upload a new picture you have the rights to.
        If uploading a new picture, make sure it is one you took of yourself.
      </li>
      <li>
        Upload your latest CV so we can use it to have the most up-to-date
        publication data reflected in Scholia.
      </li>
  </div>
</div>

<%= link_to "Submit Photo Usage and CV Form", new_photo_usage_path, class: "rvt-button rvt-button--primary" %>
