// Place all the styles related to the CovidPhotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Date Fields */
#covid-date-field{
    max-width: 500px;
}

#covid_photo_date_taken_1i,
#covid_photo_date_taken_2i,
#covid_photo_date_taken_3i {
  display: inline;
}

#covid_photo_date_taken_2i{
    width: 40%
}

#covid_photo_date_taken_3i,
#covid_photo_date_taken_1i {
  width:25%;
}

.cp_index_photo img{
  margin: 2px;
}
.cp_index_photo:hover img{
  margin: 0px;
  border: 2px solid #999999;
}
