// Place all the styles related to the PhotoUsage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

legend.required:after,
p.required:after {
    content: " *";
}

.file-types {
  font-size: 0.875rem;
  color: #777;
  font-style: italic;
  padding-left: 1.0rem;
}

// div.field_with_errors input[type=radio],
// div.field_with_errors input[type=checkbox] {
//   position: revert;
//   opacity: 100%;
// }
